svg {
  fill: rgb(255, 255, 255);
  display: block;
  margin: auto;
  width: 18px;
  height: 18px;
}
path {
  width: 50px;
  height: 50px;
  box-sizing: inherit;
}
button {
  height: 35px;
  width: 35px;
}
.container {
  margin: 10px 5px 0 5px;
  text-align: center;
  p {
    padding: 0;
    margin: 0;
  }
}
.all {
  background: linear-gradient(#aa01d4, #7d009c);
}
.all-text {
  position: absolute;
  top: 0;
  left: 25%;
  color: #ffffff;
}
