.offer-list {
  width: 95%;
  margin: auto;
  height: calc(100vh - 149px);
  overflow: scroll;
  overflow-x: hidden;
}
.offer {
  margin-bottom: 5px;
  outline: 0;
}
.spinner {
  position: absolute;
  left: calc(25% - 45px);
}
