html {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.pointer {
  cursor: pointer;
}
div:focus {
  outline: 0;
}
.margined {
  margin: 5px;
}

.php {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #3290fb;
}
.ruby {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #ff2222;
}
.javascript {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #fff126;
}
.net {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #9600d1;
}
.java {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #f64b4b;
}
.python {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #003879;
}
.mobile {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #c038cc;
}
.scala {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #a50000;
}
.c {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #24c292;
}
.testing {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #005c2e;
}
.devops {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #0502b3;
}
.uxui {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #eeae00;
}
.pm {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #02ecb2;
}
.game {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #c3048a;
}
.analytics {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #130069;
}
.security {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #1f00aa;
}
.data {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #6aec00;
}
.go {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #00f7ff;
}
.sap {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #0099ff;
}
.support {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #ae00ff;
}
.other {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #e100ff;
}
.html {
  display: block;
  height: 100%;
  width: 5px;
  background-color: #e65e04;
}
