<div class="container">
  <app-filter class="filter" (searchTerm)="filterByName($event)"></app-filter>

  <button mat-button class="location">
    Location <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <div class="filter-icon-container">
    <div *ngFor="let iconModel of iconModels; let i = index">
      <app-filter-icon
        *ngIf="screen(i)"
        routerLink="/"
        class="filter-icon"
        [url]="iconModel.url"
        [name]="iconModel.name"
        [viewBox]="iconModel.viewBox"
        (iconChange)="filterByIcon($event)"
      ></app-filter-icon>
    </div>

    <button *ngIf="displayMenu" class="menu" [matMenuTriggerFor]="menu">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</div>
<mat-menu #menu="matMenu">
  <div *ngFor="let iconModel of iconModels; let i = index">
    <app-filter-icon
      *ngIf="!screen(i)"
      routerLink="/"
      class="filter-icon"
      [url]="iconModel.url"
      [name]="iconModel.name"
      [viewBox]="iconModel.viewBox"
      (iconChange)="filterByIcon($event)"
    ></app-filter-icon>
  </div>
</mat-menu>
