<div class="container">
  <app-filter class="filter" (searchTerm)="filterByName($event)"></app-filter>
  <div class="location-container">
    <button mat-button class="location">
      Location <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <div class="filter-icon-container">
    <app-filter-icon
      *ngFor="let iconModel of iconModels"
      class="filter-icon"
      [url]="iconModel.url"
      [name]="iconModel.name"
      [viewBox]="iconModel.viewBox"
      (iconChange)="filterByIcon($event)"
    ></app-filter-icon>
  </div>
</div>
