.container {
  width: 94%;
  margin: 0 auto 20px auto;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  p {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    grid-column: 1/6;
    color: rgb(55, 71, 79);
    font-weight: 600;
    font-size: 18px;
    padding: 12px 20px;
    border-bottom: 2px solid rgb(243, 246, 248);
  }
}
