<div class="navbar">
  <div routerLink="" (click)="changePage('')" class="logo-box pointer">
    <img class="logo" src="assets/images/logo-jjit.png" />
  </div>
  <p class="logo-text">#1 Job Board for IT industry in Poland</p>
  <button
    [ngClass]="page('')"
    (click)="changePage('')"
    routerLink=""
    mat-button
  >
    Offers
  </button>
  <button
    [ngClass]="page('brands')"
    (click)="changePage('brands')"
    routerLink="brands"
    mat-button
  >
    Brands
  </button>
  <button
    [ngClass]="page('geek')"
    (click)="changePage('geek')"
    routerLink="geek"
    mat-button
  >
    Geek
  </button>
  <button
    [ngClass]="page('matchmaking')"
    (click)="changePage('matchmaking')"
    routerLink="matchmaking"
    mat-button
  >
    Matchmaking
  </button>
  <button class="job-button pointer"><p>Post a job</p></button>
  <button class="sign-in-button pointer" [matMenuTriggerFor]="signInMenu">
    <p>Sign in</p>
    <mat-icon>keyboard_arrow_down </mat-icon>
  </button>
  <button class="menu" mat-icon-button (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<mat-menu #signInMenu="matMenu">
  <button mat-menu-item>Sign in as developer</button>
  <button mat-menu-item>Sign in to Employer Panel</button>
</mat-menu>
