.skill {
  margin: 15px;
  background-color: white;
  .text {
    color: rgb(153, 161, 171);
    font-size: 0.875rem;
  }
}
p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: rgb(55, 71, 79);
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  display: block;
  overflow: hidden;
}
.circle-container {
  display: flex;
  margin: 0 0 10px 0;
  .circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
  }
  .circle-pink {
    background-color: rgb(255, 64, 129);
  }
  .circle-gray {
    background-color: rgb(191, 197, 210);
  }
}
